@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

#logo{
    position: absolute;
    width: 150px;
    top: 0px !important;
    left: 150px;
    z-index: 100;
}

#fh5co-header nav ul li a{
    color: #ffffff;
}

#fh5co-header nav{
    position: absolute;
    padding: 20px;
    top: 0px !important;
    right: 0;
    text-align: right;
    text-shadow: 1px 1px 1px #000000;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Patua One', cursive;
}

.btn-primary,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background: #0b0e3b !important;
    border-color: #0b0e3b !important;
}

#fh5co-hero .flexslider .flex-control-nav li a.flex-active{
    background: rgba(26,35,126,.7);
}

#fh5co-hero .flexslider .flex-control-nav li a{
    background: rgba(26,35,126,.2);
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner h2{
    text-shadow: 1px 1px 1px #000000;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner h2,
.fh5co-heading h2,
.fh5co-section-with-image h2,
h2{
    font-family: 'Patua One', cursive;
}

.btn-primary.btn-outline{
    color: #ffffff;
    border-color: #0b0e3b;
}

a, .contact-info li a, .contact-info li i{
    color: #0b0e3b;
}

/* About */
#stuffImg{
    width: 60%;
    margin: 0 auto;
}


ul li{
    font-family: 'Patua One', cursive;
    font-size: 1.2em;
    color: #212121
}

.cntnav{
    background-color: transparent !important;
    color: #0b0e3b;
}

#fbSection{
    padding: 120px;
}

#quotation{
    margin-bottom: 10px;
}

#quotation #myform {
    margin: 50px auto;
    margin-bottom: 0px;
    width: 43%;
}

#quotation header {
  color: #212121;
  font-size: 1.7em;
  padding: 3% 0;
  border-bottom: 2px solid #212121;
}

#quotation .area {
  color: #212121;
  width: 100%;
  margin: 40px 0;
}

#quotation label {
  line-height: 35px;
  display: table-header-group;
  font-size: 1.05em;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

#quotation input, #quotation select {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 2px solid #212121;
  border-radius: 5px;
  background: transparent;
  color: #212121;
  display: table-row-group;
  transition: all 0.3s ease;
  font-size: 1.05em;
}

#quotation input:focus , #quotation select:focus{
  outline: none !important;
  border-color: #69B692;
}

#quotation input:focus + label, #quotation select:focus + label{
  color: #69b692;
}

#quotation .row {
  margin: 20px 0;
  width: 100%;
  padding: 0;
  display: table;
}

#quotation .col2 {
  display: table;
  width: 47%;
  float: left;
}

#quotation .col2:nth-child(2) {
  float: right;
  display: table;
}

#quotation .ckeckarea input[type="checkbox"] {
  display: none;
}

#quotation .ckeckarea label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 30px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#quotation .ckeckarea label::before,
#quotation .ckeckarea label::after {
  position: absolute;
  content: '';
  -webkit-transition: all .2s;
  transition: all .2s;
}

#quotation .ckeckarea label::before {
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: transparent;
  border: 2px solid #212121;
  border-radius: 3px;
}

#quotation .ckeckarea label::after {
  opacity: 0;
  top: 50%;
  left: 3px;
  width: 8px;
  height: 4px;
  margin-top: -4px;
  border-left: 2px solid #69B692;
  border-bottom: 2px solid #69B692;
  -webkit-transform: rotate(-45deg) scale(.5);
  transform: rotate(-45deg) scale(.5);
}

#quotation .ckeckarea label:hover::before {
  border-color: #69B692;
}

#quotation .ckeckarea input[type="checkbox"]:checked + label::before {
  border: 1px solid #69B692;
}

#quotation .ckeckarea input[type="checkbox"]:checked + label::after {
  opacity: 1;
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

#quotation .ckeckarea input[type="checkbox"]:checked ~ label {
  color: #69B692;
}

#quotation .btn {
  width: 35%;
  margin-right: 3%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  transition: all 0.3s ease;
}

#quotation .btn:hover {
  background: #69B692;
  border-color: #69B692;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #myform {
  margin: 50px auto;
  width: 80%;
}
  #quotation .col2 {
  display: table;
  width: 100%;
  float: left;
}
  
  #quotation .ckeckarea label {
  line-height:20px;
}
}

@media screen and (max-width: 600px) {
  #myform {
  margin: 50px auto;
  width: 100%;
}
 
}
