.fh5co-cover .overlay{
    background-color: rgba(0, 121, 107, 0.68);
}

.fh5co-nav #fh5co-logo a span{
    color: #263238;
}

.fh5co-nav ul li.btn-cta a span, #fh5co-header .display-tc .btn, #fh5co-counter .display-tc .btn, .fh5co-cover .display-tc .btn, #fh5co-started .btn, footer{
    background: #263238 !important;
}

.feature-center .icon i, .feature-center h3, .testimonial, footer a{
    color: #26a69a !important;
}

#fh5co-started{
    background: #26a69a !important;
}

#fh5co-header .display-tc .btn:hover, #fh5co-counter .display-tc .btn:hover, .fh5co-cover .display-tc .btn:hover{
    background: #26a69a !important;
}

.fh5co-contact-info ul li::before {
    color: #263238;
}

#fh5co-contact a{
    color: #26a69a !important;
}

#fh5co-contact .btn-primary{
    background: #26a69a !important;
    border-color: #26a69a !important;
}
