@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

#logo{   
    width: 350px;
}

#logoContainer{
    position: relative;
    left: -12px;
}

#slogan{
    color: #392115;
    font-family: 'Bebas Neue', cursive;    
}

header{
    background: none;
}

.btn-primary{
    background: #ffffff;
    color: #382115;
    border-color: #ffffff;
}

header a{
    text-shadow: 1px 1px 1px #000;
}

header i {
    text-shadow: none;
}

.hero .diag-bg{
    background-color: rgba(62,39,35,0.5);
}

.navbar-collapse .nav-link, header a{
    font-size: 1.2em;
}

.fa{
    text-shadow: 1px 1px 1px #000;
}

.navbar-collapse .nav-link::before,
.title-blue,
.services h5{
    color: #382115 !important;
}

.social a,
.btn-primary:hover{
    border-color: #382115;
}

.social a:hover, .btn-primary:hover, .navbar-collapse .nav-link::after{
    background-color: #382115;
}

.cta-content,
.line-scale > div{
    background-color: #3a2313;
}

.cta-content::after{
    background-color: #EEEEEE;
}

.btn::after{
    background-color: rgba(253,216,53,.8);
}
	    
		
.brown {
    color: #382115 !important;
}

.trust{
    background-color: #3a2313;
}

.testimonial-and-clients {
    background: #FFF;
}

.navbar-collapse .nav-link,
header a{
    font-weight: bolder;
}

#map{
    width: 100%;
    height: 560px;
}

footer {
    background: url(../images/footer-bg.png) center center/cover no-repeat #3a2313;
}

.single-widget i,
a,
.login i,
.contact i,
.title .title-primary
{
    color: #FBC02D !important;
}


.foot-note,
.subscribe-widget button,
.subscribe-widget .social-nav a:hover,
.loader-inner,
.test-pagination span{
    background-color: #FBC02D;
}

header a{
    color: #fff !important;
}


#landingHero{
    background-image: url("../images/tri.png");
    padding-top: 300px;
}

#pawifHero{
    background-image: url("../images/pan2.jpg");
    background-size: contain%;
}

#coffeeHero{
    background-image: url("../images/coffee-bg.jpg");
}

.single-pricing{
    background: #3a2313 !important;
    min-height: 300px;
    max-height: 300px;
    border: 2px solid #fff;
}

.cardDescriptions{
    display: none;
}

.testimonials .test-img{
    border-radius: 0 !important;
    width: 200px;
}

.test-pagination span.swiper-pagination-bullet-active{
    background-color: #3a2313;    
}

.corporateProfileCards{
    background-color: #3a2313;
    height: 360px;
}

.corporateProfileCards h5{
    color: #FBC02D;
}

.corporateProfileCards p{
    color: #fff;
}

.expertiseBtns{
    background-color: #ffb300;
    border-color: #ffb300;
    border-style: none;
    color: #3a2313;
    padding: 10px;
    border-radius: 30px;
}

.modal-content{
    background-color: #3a2313;
}

.modal-title{
    color: #ffb300;
}

.modal-header, .modal-footer{
    border: none;
}

.modal-body{
    color: #ffffff;
}

.teamCards{
    min-height: 320px;
    max-height: 320px;
}

.navbar-collapse .nav-link, header a{
    font-size: 1em;
}

.brown-text{
    color: #3a2313 !important;
    text-shadow: none;
}

.fixedNav{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px;
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;   	
}

.fixedLogo{
    position: absolute;
    left: 30px;
    top: 0px !important;
    width: 170px !important;    
}

.brandss{
    -webkit-filter: grayscale(97%); /* Safari 6.0 - 9.0 */
    filter: grayscale(97%);
}

.brandss:hover{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

.title{
    text-transform: none;
}
